{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
   

    <br>
    
    <img title="a title" alt="Alt text"src="https://framerusercontent.com/images/QUC1DPYvY9k6q9wes1rKIadFOFY.png">
    

   
    <header class="entry-header">
        <h2>{{ .Title | markdownify }}</h2>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
